<div class="container">
    <h3>Those are the people passionate about the greatest pop band of all times</h3> <br />


    {{#each results}}
    <p>
        || <a href={{url}}>{{first}} {{last}}</a>  || <a href="signers/{{city}}">{{city}}</a> {{age}}
    </p>
    {{/each}}
    <br />
    <br />
    <br />
    {{>menu}}

</div>
