<div class="container">
    <h2>Those are the people of {{city}} passionate about the greatest pop band of all times</h2> <br />


    {{#each results}}
    <p>
        <a href={{url}}>{{first}} {{last}}</a> {{age}}
    </p>
    {{/each}}
    <br />
    <br />
    <br />
    {{>logOut}}

</div>
